@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
.top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-section {
  background: #818483;
}

.top-section-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-right: 5em;
}

.top-section-links a, p {
  color: #fff;
  font-size: .9em;
  margin-left: 10px;
}

.nav-search .logo-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 5em;
  margin-bottom: -20px;
}

.nav-search .logo-search img {
  padding: 0;
  height: 125px;
  width: 10%;
}

.cart-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-text {
  width: 300px;
  border: 2px solid #cfcfcfb4;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 0;
  outline: none;
  color: #ced4d1;
}

.search-text:focus {
  color: #a19f9f;
}

.search-btn {
  width: 15%;
  border: 2px solid #cfcfcfb4;
  border-left: none;
  background: none;
  text-align: center;
  color: #cfcfcfb4;
  border-radius: 0;
  cursor: pointer;
  font-size: 20px;
}

.cart-search .shop-cart {
  color: #a19f9f;
  margin-left: 10px;
}

.main-navbar {
  background: #eeeeee;
}

.main-navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav-links li {
  list-style: none;
  padding: 1em;
}

.nav-links li a {
  font-weight: bolder;
  color: #6b6a6a;
}

.image-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  grid-gap: 1em;
  padding: 1em;
}

.image-grid img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.box1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / span 6;
}

.box2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 30;
  grid-row: 7 / span 30;
}

.box3 {
  background-color: #FEDD16;
  -ms-grid-column: 4;
  -ms-grid-column-span: 9;
  grid-column: 4 / span 9;
  -ms-grid-row: 7;
  -ms-grid-row-span: 8;
  grid-row: 7 / span 8;
}

.box3 img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  margin-top: 30px;
  right: 40%;
  max-height: 250px;
  width: 30%;
}

.box4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / span 5;
  -ms-grid-row: 15;
  -ms-grid-row-span: 22;
  grid-row: 15 / span 22;
}

.box5 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
  -ms-grid-row: 15;
  -ms-grid-row-span: 42;
  grid-row: 15 / span 42;
}

.box6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-row: 37;
  -ms-grid-row-span: 20;
  grid-row: 37/ span 20;
}

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans";
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main-styles.css.map */